*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	font-size: 18px;
	--main-color-form: #fff;
}

@font-face{
	font-family: "Poppins";
	src: url("fonts/poppins.ttf") format("ttf");
}

body{
	background-color: #1C1C1C;
	font-family: "Poppins", Sans-Serif;
	margin-top: 120px;
}

form{
	display: flex;
	flex-direction: column;
	border: .5px solid #3B3B3B;
	width: 85vw;
	margin: 0 auto 0 auto;
	padding: 10px;
	font-size: 1rem;
	border-radius: 8px;
	gap: 3px;
	color: #D1D1D1;
	overflow-wrap: break-word;
}

h2{
	color: #fff;
	text-align: center;
}

hr{
	border-color: #3B3B3B;
	margin-bottom: 10px;
}

.label-form{
	font-size: .9rem;
}

.input-form{
	height: 2rem;
	border-radius: 5px;
	padding: 0 5px;
	margin-bottom: 10px;
	background-color: #242424;
	outline: none;
	border: 1px solid #1A1A1A;
	color: #fff;
}
.input-form:focus{
	border: 1px solid #404040;
}

.campo-duplo{
	display: flex;
	flex-direction: row;
}
.campo-item{
	width: 50%; 
	display: flex;
	flex-direction: column;
}
.campo-item-1{
	margin-right: .5%;
}
.campo-item-2{
	margin-left: .5%;
}#inputDate{
	width: 100%;
}

#submit{
	background-color: #0069FF;
	color: #E3E3E3;
	font-size: 1rem;
}

@media (min-width: 600px){
	form{
		max-width: 30rem;
	}
}
